.detail-container {
  align-items: center;
}

.text-details {
  display: block;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

p {
  color: #1d1d1d;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  font-style: normal;
  display: flex;
  margin-left: 20px;
}

hr {
  border: 1px solid #dfdfdf;
  position: absolute;
  width: 376px;
  height: 0;
  align-items: center;
}

.color-container {
  padding-top: 20px;
}
.color-buttons {
  display: flex;
}
.button-item {
  margin-left: 10px;
}

.cart-container {
  padding: 20px 0;
}
