.btn {
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Button Styles */
.btn--primary {
  background: #f1f1f1;
  color: #242424;
}

.btn--red {
  background: linear-gradient(45deg, #8a3d28 0%, #ac5941 100%);
}
.btn--green {
  background: linear-gradient(45deg, #20737e 0%, #419fac 100%);
}
.btn--blue {
  background: linear-gradient(45deg, #1f2e7e 0%, #416cac 100%);
}

.btn--cart {
  font-weight: 400;
  width: 376px;
  height: 40px;
  border-radius: 38px;
  line-height: 24px;
  font-size: 14px;
}

/* Button Sizes */
.btn--small {
  font-weight: 400;
  width: fit-content;
  height: 40px;
  border-radius: 38px;
  padding: 8px 16px;
  line-height: 24px;
  font-size: 14px;
  margin-left: 10px;
}

.btn--circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  padding: 10px;
}

.btn--meduim {
  display: block;
  display: inline-block;
  text-align: center;
}
